.drag_drop {
    border: 1px dashed gray !important;
    width: auto !important;
    height: 120px !important;
    position: relative;
    left: -10px;
    margin: 10px 0 25px 20px;
    background: #e2e1e1;
}